.idea/
node_modules/
**/coverage/
**/dist/
**/storybook-static/
**/*.tsbuildinfo
*.log
repomix*
test-report*.xml
openapi.json
.schemathesis/
tests/e2e/playwright-report/
tests/e2e/test-results/
tests/e2e/blob-report/
reference/
